:root {
  --color-strong-cyan: hsl(172, 67%, 45%);
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);

  --border-radius-normal: 10px;
  --border-radius-sharp: 4px;
}

body {
  margin: 0;
  font-family: Space Mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

input {
  font-family: Space Mono;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}
